{% extends 'home_page.html' -%}

{% block head %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %} FeedBack {% endblock %}</title>
    <link type="text/css" rel="stylesheet" href=" {{ url_for('static', filename='css/main_appear.css') }}">
    <link type="text/css" rel="stylesheet" href=" {{ url_for('static', filename='css/form_appear.css') }}">
</head>
{% endblock %}

{% block content %}
    {% for cat, msg in get_flashed_messages(True) %}
        <div class="flash {{ cat }}"> {{ msg }} </div>
    {% endfor %}
    <form action='{{ url_for('feedback') }}' method="post" class="feedback-form">
        {{ display_form(form) }}
    </form>
{% endblock %}


