{% extends 'home_page.html' -%}

{% block head %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %} TecHeres News {% endblock %}</title>
    <link type="text/css" rel="stylesheet" href=" {{ url_for('static', filename='css/main_appear.css') }}">
    <link type="text/css" rel="stylesheet" href=" {{ url_for('static', filename='css/news_list.css') }}">
</head>
{% endblock %}

{% block content %}
<div class="content">
     <h1 style="margin-bottom: 10px">Look at latest news connected with TecGame,</h1> <h2 style="margin-top: 10px">or <a href="{{ url_for('add_article') }}">make your own</a></h2>.
    <table class="top_users">
        <caption>Best users</caption>
        <tr>
            <th>Nick</th>
            <th>Total views</th>
            <th>Total posts</th>
        </tr>
        {% for user in top_users %}
            <tr>
            <td>{{ user.author }}</td>
            <td>{{ user.views }}</td>
            <td>{{ user.post }}</td>
            </tr>
        {% endfor %}
    </table>
    <ul class="news">
    {% if news_list %}
        {% for news in news_list -%}
            <li> <div class="article">
                <h3><a href="{{ url_for('show_article', title=news.title) }}">{{ news.title }}</a>, {{ news.author }}, {{ news.time_format }}</h3>
                <p class="content">{{ news.content[:50] | striptags }}</p>
                <p class="views"> Views: {{ news.views }} </p>
                </div>
            </li>
        {% endfor %}
    {% else %}
        <p> There is no news yet. :(</p>
    {% endif %}
    </ul>
</div>


{% endblock %}

