{% extends 'home_page.html' -%}

{% block head %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Login {% endblock %}</title>
    <link type="text/css" rel="stylesheet" href=" {{ url_for('.static', filename='css/base.css') }}">
    <link type="text/css" rel="stylesheet" href=" {{ url_for('.static', filename='css/login_appear.css') }}">
</head>
{% endblock %}

{% block content %}
    {% for cat, msg in get_flashed_messages(True) %}
        <div class="flash {{ cat }}"> {{ msg }} </div>
    {% endfor %}

    <form action='' method="post" class="login-form">
        {{ display_form(form) }}
    </form>
    <p> Or <a href="{{ url_for('register') }}">register</a> if you haven't created account yet</p>
{% endblock %}


